#boxscoreContainer {
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#BSBoxWrapper {
  position: relative;
  width: 812px;
  height: 812px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0px 0px 100px 0px;
}

#boxscoreBoxFront,
#boxscoreBoxBack {
  width: 800px;
  height: 800px;
  border-radius: 15px;
  background-color: #ffb71c;
  border: 6px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
}

#boxscoreBoxBack {
  transform: scaleX(-1);
}

#teamLogoRow {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  margin: 15px 0px 30px 0px;
}

.BSTeamLogoContainer {
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.BSTeamLogoBox {
  height: 150px;
  width: 150px;
  justify-content: center;
}

.BSTeamLogo {
  max-height: 150px;
  max-width: 150px;
}

#BSGSOGRow {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

#BSStatsRow {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

#venue {
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  letter-spacing: 2px;
}

#awayTitle {
  font-size: 14px;
  font-style: italic;
  margin: 0px;
  margin: 0px 0px 15px 0px;
}

#homeTitle {
  font-size: 14px;
  font-style: italic;
  margin: 0px 0px 15px 0px;
}

.BSStatsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

#timeColumn {
  justify-content: space-evenly;
  height: 150px;
}

.BSGoals {
  font-size: 75px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  align-self: center;
}

.BSSOG {
  align-self: center;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0px 20px 0px;
}

.BSSOGLabel {
  font-weight: 400;
  font-size: 18px;
}

#BSPeriod {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

#BSPeriodLabel {
  font-size: 16px;
  font-weight: 400;
}

#BSTime {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0px;
}

.BSData {
  font-weight: bold;
  font-size: 20px;
  margin: 17px 0px;
}

.BSDataLabel {
  font-weight: 400;
  font-size: 16px;
  margin: 17px 0px;
}

#scoringPlays {
  margin: 36px 0px 22px 0px;
}

#NoSPYet {
  margin: auto 0px;
}

#scoringPlaysMaster {
  height: 700px;
  width: 95%;
  overflow-y: auto;
}

#scoringPlaysMaster::-webkit-scrollbar-thumb {
  background: rgba(113, 113, 113, 0.7);
  border-radius: 5px;
}

#scoringPlaysMaster::-webkit-scrollbar {
  width: 10px;
  background-color: #ffb71c;
  border-radius: 5px;
}

.scoringPlayContainer {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.scoringPlay {
  font-size: 17px;
  margin: 0px;
  line-height: 25px;
}

.scoringPlayLogoContainer {
  width: 36px;
  height: 36px;
  justify-content: center;
  margin: 0px 15px;
}

.scoringPlayLogo {
  max-width: 36px;
  max-height: 36px;
}

.GameNotStarted {
  font-size: 14px;
  font-weight: 400;
}

.PPBox {
  font-weight: 600;
  background-color: black;
  color: #ffb71c;
  padding: 2px 12px;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 2px;
}

.PPRowAway,
.PPRowHome {
  position: absolute;
  display: flex;
  align-items: center;
  width: 90px;
}

.PPRowAway {
  transform: translate(23px, 111px);
}

.PPRowHome {
  transform: translate(556px, 111px);
}

.PPTime {
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 0px 0px 0px auto;
}
