#gameRostersContainer {
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  min-height: 1190px;
  overflow-y: auto;
}

.refreshButtonGR {
  margin: 105px 0px 45px 0px;
  width: 90px;
  height: 90px;
  line-height: 20px;
}

#GameRostersTitle {
  color: #ffb71c;
  background-color: black;
  padding: 5px 25px;
  border-radius: 25px;
  font-size: 32px;
  margin: 32px 0px;
}

#GRBoxWrapper {
  position: relative;
  width: 812px;
  height: 912px;
  border-radius: 15px;
  cursor: pointer;
}

#gameRosterBoxFront,
#gameRosterBoxBack {
  width: 800px;
  height: 900px;
  border-radius: 15px;
  background-color: #ffb71c;
  border: 6px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
}

#gameRosterBoxBack {
  transform: scaleX(-1);
}

#GRTeamLogoRow {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  margin: 20px 0px 5px 0px;
}

.GRAwayHome {
  font-size: 14px;
  font-style: italic;
  margin: 0px 0px 10px 0px;
}

.GRLAHC {
  height: 101px;
}

.GRTeamLogoBox {
  width: 75px;
  height: 75px;
  justify-content: center;
}

.GRTeamLogo {
  max-width: 75px;
  max-height: 75px;
}

.APSkatersWrapper {
  width: 90%;
}

.APSkatersWrapper::-webkit-scrollbar-thumb {
  background: rgba(113, 113, 113, 0.7);
  border-radius: 5px;
}

.APSkatersWrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #ffb71c;
  border-radius: 5px;
  transform: translate(-10px, 0px);
}

.GRRowSB {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.GRRowC {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: center;
}

.GRStatsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.GRStatsColumnGoaltenders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  min-height: 30px;
}

.GRStatsColumnDefensemen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 175px;
}

.GRStatsColumnForwards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
}

.GRScratchColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: 350px;
  flex-wrap: wrap;
  gap: 0px 20px;
}

.GRStatsColumnOfficials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.GRLine {
  height: 1px;
  width: 85%;
  background-color: black;
  margin: 10px 0px 0px 0px;
}

.GRCategory {
  font-size: 20px;
  font-weight: bold;
  color: #ffb71c;
  background-color: black;
  padding: 4px 20px;
  border-radius: 20px;
  margin: 12px 0px 2px 0px;
}

.GRName {
  margin: 5px 0px;
  font-size: 16px;
}

.GRNameScratch {
  margin: 5px 0px;
  font-size: 12px;
}

#officialsLabel {
  margin: 20px 0px;
}

.officialType {
  font-size: 10px;
  letter-spacing: 1px;
}

.goalieOnIceRow {
  display: flex;
  align-items: center;
}

.netLogo {
  width: 25px;
  height: auto;
  margin: 0px 0px 0px 10px;
}

.skaterOnIceRow {
  display: flex;
  align-items: center;
}

.skaterOnIceStick {
  width: auto;
  height: 20px;
  margin: 0px 0px 0px 10px;
  align-self: flex-start;
}

.puck {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  margin: 0px 0px 0px 5px;
}

@media (max-width: 875px) {
  #gameRostersContainer {
    min-height: 950px;
  }

  .refreshButtonGR {
    margin: 100px 0px 40px 0px;
    width: 85px;
    height: 85px;
    line-height: 20px;
    font-size: 13px;
  }

  #GameRostersTitle {
    padding: 5px 25px;
    border-radius: 25px;
    font-size: 24px;
    margin: 24px 0px;
  }

  #GRBoxWrapper {
    width: 612px;
    height: 687px;
    border-radius: 15px;
  }

  #gameRosterBoxFront,
  #gameRosterBoxBack {
    width: 600px;
    height: 675px;
    border-radius: 15px;
    border: 6px solid black;
    border-radius: 15px;
  }
  #GRTeamLogoRow {
    margin: 10px 0px 4px 0px;
  }

  .GRAwayHome {
    font-size: 10px;
    margin: 0px 0px 8px 0px;
  }

  .GRLAHC {
    height: 76px;
  }
  .GRTeamLogoBox {
    width: 56px;
    height: 56px;
  }

  .GRTeamLogo {
    max-width: 56px;
    max-height: 56px;
  }
  .GRStatsColumn {
    width: 188px;
  }

  .GRStatsColumnGoaltenders {
    width: 188px;
    min-height: 23px;
  }

  .GRStatsColumnDefensemen {
    width: 188px;
    height: 131px;
  }

  .GRStatsColumnForwards {
    width: 188px;
    height: 263px;
  }
  .GRLine {
    height: 1px;
    width: 85%;
    margin: 2px 0px 2px 0px;
  }
  .GRCategory {
    font-size: 15px;
    padding: 4px 15px;
    border-radius: 15px;
    margin: 9px 0px 2px 0px;
  }

  .GRName {
    margin: 3px 0px;
    font-size: 14px;
  }

  .netLogo {
    width: 19px;
    margin: 0px 0px 0px 8px;
  }

  .skaterOnIceStick {
    height: 15px;
    margin: 0px 0px 0px 8px;
  }

  .puck {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
  }
}

@media (max-width: 675px) {
  #gameRostersContainer {
    min-height: 745px;
  }

  .refreshButtonGR {
    margin: 95px 0px 30px 0px;
    width: 75px;
    height: 75px;
    line-height: 18px;
    font-size: 12px;
  }

  #GameRostersTitle {
    padding: 5px 19px;
    border-radius: 19px;
    font-size: 18px;
    margin: 18px 0px;
  }

  #GRBoxWrapper {
    width: 462px;
    height: 518px;
    border-radius: 15px;
  }

  #gameRosterBoxFront,
  #gameRosterBoxBack {
    width: 450px;
    height: 506px;
    border-radius: 15px;
    border: 6px solid black;
    border-radius: 15px;
  }
  #GRTeamLogoRow {
    margin: 9px 0px 3px 0px;
  }

  .GRAwayHome {
    font-size: 9px;
    margin: 0px 0px 7px 0px;
  }

  .GRLAHC {
    height: 57px;
  }

  .GRTeamLogoBox {
    width: 50px;
    height: 50px;
  }

  .GRTeamLogo {
    max-width: 50px;
    max-height: 50px;
  }
  /* .APSkatersWrapper {
    overflow-y: auto;
  } */
  .GRStatsColumn {
    width: 188px;
  }

  .GRStatsColumnGoaltenders {
    width: 188px;
    min-height: 23px;
  }

  .GRStatsColumnDefensemen {
    width: 188px;
    height: 131px;
  }

  .GRStatsColumnForwards {
    width: 188px;
    height: 263px;
  }

  .GRLine {
    height: 1px;
    width: 85%;
    margin: 12px 0px 2px 0px;
  }
  .GRCategory {
    font-size: 15px;
    padding: 4px 15px;
    border-radius: 15px;
    margin: 9px 0px 10px 0px;
  }

  .GRName {
    margin: 3px 0px;
    font-size: 14px;
  }

  .netLogo {
    width: 19px;
    margin: 0px 0px 0px 8px;
  }

  .skaterOnIceStick {
    height: 15px;
    margin: 0px 0px 0px 8px;
  }

  .puck {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    margin: 0px 0px 0px 5px;
  }
}
