#gameRostersContainer {
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.GRRefreshButtonRow {
  margin: 105px 0px 45px 0px;
  display: flex;
}

.refreshButtonGR {
  width: 90px;
  height: 90px;
  line-height: 20px;
  margin: 0px 25px 0px 0px;
}

.AAButtonGR {
  width: 90px;
  height: 90px;
  line-height: 20px;
  margin: 0px 0px 0px 25px;
  position: relative;
}

#buttonRingGR {
  position: absolute;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 2px solid #ffb71c;
  background-color: transparent;
  top: 0;
  left: 0;
  margin: -2px 0px 0px -2px;
  opacity: 0;
}

#GameRostersTitle {
  color: #ffb71c;
  background-color: black;
  padding: 5px 25px;
  border-radius: 25px;
  font-size: 32px;
  margin: 32px 0px;
}

#GRBoxWrapper {
  position: relative;
  width: 812px;
  height: 912px;
  border-radius: 15px;
  cursor: pointer;
}

#gameRosterBoxFront,
#gameRosterBoxBack {
  width: 800px;
  height: 900px;
  border-radius: 15px;
  background-color: #ffb71c;
  border: 6px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
}

#gameRosterBoxBack {
  transform: scaleX(-1);
}

#GRTeamLogoRow {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  margin: 20px 0px 5px 0px;
}

.GRAwayHome {
  font-size: 14px;
  font-style: italic;
  margin: 0px 0px 10px 0px;
}

.GRTeamLogoBox {
  width: 75px;
  height: 75px;
  justify-content: center;
}

.GRTeamLogo {
  max-width: 75px;
  max-height: 75px;
}

.APSkatersWrapper {
  width: 90%;
}

.APSkatersWrapper::-webkit-scrollbar-thumb {
  background: rgba(113, 113, 113, 0.7);
  border-radius: 5px;
}

.APSkatersWrapper::-webkit-scrollbar {
  width: 6px;
  background-color: #ffb71c;
  border-radius: 5px;
}

.PreWrap {
  width: 100%;
}

.GRRowSB {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.GRRowC {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: center;
}

.GRStatsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.GRStatsColumnGoaltenders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  min-height: 30px;
}

.GRStatsColumnDefensemen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 175px;
}

.GRStatsColumnForwards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
}

.GRScratchColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 275px;
  height: 340px;
  flex-wrap: wrap;
  gap: 0px 20px;
  margin: 10px 0px 0px 0px;
}

.GRStatsColumnOfficials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 0px 0px 20px 0px;
}

.GRLine {
  height: 1px;
  width: 85%;
  background-color: black;
  margin: 10px 0px 0px 0px;
}

.GRLineTop {
  height: 1px;
  width: 85%;
  background-color: black;
  margin: 6px 0px 0px 0px;
}

#CSOLineFix {
  width: 100%;
  display: flex;
  justify-content: center;
}

.GRCategory {
  font-size: 20px;
  font-weight: bold;
  color: #ffb71c;
  background-color: black;
  padding: 4px 20px;
  border-radius: 20px;
  margin: 12px 0px 4px 0px;
}

.GRName {
  margin: 5px 0px;
  font-size: 16px;
}

.GRNameScratch {
  margin: 5px 0px;
  font-size: 12px;
}

#officialsLabel {
  margin: 20px 0px;
}

.officialType {
  font-size: 10px;
  letter-spacing: 1px;
}

.goalieOnIceRow {
  display: flex;
  align-items: center;
}

.netLogo {
  width: 25px;
  height: auto;
  margin: 0px 0px 0px 10px;
}

.skaterOnIceRow {
  display: flex;
  align-items: center;
}

.skaterOnIceStick {
  width: auto;
  height: 20px;
  margin: 0px 0px 0px 8px;
  align-self: flex-start;
}

.puck {
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
  margin: 2px 0px 0px 5px;
}

#CSOWrapper {
  width: 90%;
}

@media (max-width: 875px), (max-height: 1180px) {
  #gameRostersContainer {
    min-height: 950px;
  }

  #GameRostersTitle {
    padding: 5px 25px;
    border-radius: 25px;
    font-size: 24px;
    margin: 24px 0px;
  }

  #GRBoxWrapper {
    width: 612px;
    height: 687px;
    border-radius: 15px;
  }

  #gameRosterBoxFront,
  #gameRosterBoxBack {
    width: 600px;
    height: 675px;
    border-radius: 15px;
    border: 6px solid black;
    border-radius: 15px;
  }
  #GRTeamLogoRow {
    margin: 10px 0px 4px 0px;
  }

  .GRAwayHome {
    font-size: 10px;
    margin: 0px 0px 8px 0px;
  }

  .GRTeamLogoBox {
    width: 56px;
    height: 56px;
  }

  .GRTeamLogo {
    max-width: 56px;
    max-height: 56px;
  }
  .GRStatsColumn {
    width: 188px;
  }

  .GRStatsColumnGoaltenders {
    width: 188px;
    min-height: 23px;
  }

  .GRStatsColumnDefensemen {
    width: 188px;
    height: 138px;
  }

  .GRStatsColumnForwards {
    width: 188px;
    height: 263px;
  }
  .GRLineTop {
    margin: 4px 0px 4px 0px;
  }
  .GRLine {
    height: 1px;
    width: 85%;
    margin: 2px 0px 2px 0px;
  }
  .GRCategory {
    font-size: 15px;
    padding: 4px 15px;
    border-radius: 15px;
    margin: 5px 0px 7px 0px;
  }

  .GRName {
    margin: 3px 0px;
    font-size: 14px;
  }

  .netLogo {
    width: 19px;
    margin: 0px 0px 0px 8px;
  }

  .skaterOnIceStick {
    height: 15px;
    margin: 2px 0px 0px 7px;
  }

  .puck {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 2px 0px 0px 5px;
  }
  #CSOWrapper {
    overflow-y: auto;
  }

  #CSOWrapper::-webkit-scrollbar-thumb {
    background: rgba(113, 113, 113, 0.7);
    border-radius: 5px;
  }

  #CSOWrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #ffb71c;
    border-radius: 5px;
  }
  .GRScratchColumn {
    width: 275px;
    height: auto;
    flex-wrap: nowrap;
    gap: 0px;
    align-self: flex-start;
    margin: 0px 0px 5px 0px;
  }
  .GRStatsColumnOfficials {
    padding: 0px 0px 10px 0px;
  }
  .GRNameScratch {
    margin: 4px 0px;
    font-size: 14px;
  }
}

@media (max-width: 675px), (max-height: 800px) {
  .GRRefreshButtonRow {
    margin: 95px 0px 35px 0px;
  }

  .refreshButtonGR {
    width: 70px;
    height: 70px;
    line-height: 16px;
    font-size: 10px;
    margin: 0px 20px 0px 0px;
  }

  .AAButtonGR {
    width: 70px;
    height: 70px;
    line-height: 16px;
    font-size: 10px;
    margin: 0px 0px 0px 20px;
  }
  #buttonRingGR {
    width: 66px;
    height: 66px;
  }
  #gameRostersContainer {
    min-height: 745px;
  }

  #GameRostersTitle {
    padding: 5px 19px;
    border-radius: 19px;
    font-size: 18px;
    margin: 18px 0px;
  }

  #GRBoxWrapper {
    width: 462px;
    height: 518px;
    border-radius: 15px;
  }

  #gameRosterBoxFront,
  #gameRosterBoxBack {
    width: 450px;
    height: 506px;
    border-radius: 15px;
    border: 6px solid black;
    border-radius: 15px;
  }
  #GRTeamLogoRow {
    margin: 9px 0px 3px 0px;
  }

  .GRAwayHome {
    font-size: 9px;
    margin: 0px 0px 7px 0px;
  }

  .GRTeamLogoBox {
    width: 50px;
    height: 50px;
  }

  .GRTeamLogo {
    max-width: 50px;
    max-height: 50px;
  }
  .APSkatersWrapper {
    overflow-y: auto;
    height: 415px;
  }
  .GRStatsColumn {
    width: 188px;
  }

  .GRStatsColumnGoaltenders {
    width: 188px;
    min-height: 23px;
  }

  .GRStatsColumnDefensemen {
    width: 188px;
    height: 142px;
  }

  .GRStatsColumnForwards {
    width: 188px;
    height: 288px;
  }
  .GRRowSB {
    width: 85%;
  }
  .GRLineTop {
    margin: 4px 0px 0px 0px;
  }
  .GRLine {
    height: 1px;
    width: 85%;
    margin: 4px 0px 2px 0px;
  }
  .GRCategory {
    font-size: 15px;
    padding: 4px 15px;
    border-radius: 15px;
    margin: 9px 0px 10px 0px;
  }

  .GRName {
    margin: 3px 0px;
    font-size: 15px;
  }

  .netLogo {
    width: 19px;
    margin: 0px 0px 0px 8px;
  }

  .skaterOnIceStick {
    height: 15px;
    margin: 3px 0px 0px 3px;
  }

  .puck {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px 0px 0px 5px;
  }
  #CSOWrapper::-webkit-scrollbar {
    width: 5px;
  }
  .GRStatsColumnOfficials {
    padding: 0px 0px 9px 0px;
  }
}

@media (max-width: 500px), (max-height: 615px) {
  .GRRefreshButtonRow {
    margin: 92px 0px 30px 0px;
  }

  .refreshButtonGR {
    width: 60px;
    height: 60px;
    line-height: 14px;
    font-size: 8px;
    margin: 0px 20px 0px 0px;
  }

  .AAButtonGR {
    width: 60px;
    height: 60px;
    line-height: 14px;
    font-size: 8px;
    margin: 0px 0px 0px 20px;
  }
  #buttonRingGR {
    width: 56px;
    height: 56px;
  }
  #gameRostersContainer {
    min-height: 600px;
  }

  #GameRostersTitle {
    padding: 5px 16px;
    border-radius: 19px;
    font-size: 14px;
    margin: 14px 0px;
  }

  #GRBoxWrapper {
    width: 350px;
    height: 392px;
    border-radius: 15px;
  }

  #gameRosterBoxFront,
  #gameRosterBoxBack {
    width: 338px;
    height: 380px;
    border-radius: 15px;
    border: 6px solid black;
    border-radius: 15px;
  }
  #GRTeamLogoRow {
    margin: 7px 0px 8px 0px;
  }

  .GRAwayHome {
    font-size: 8px;
    margin: 0px 0px 6px 0px;
  }

  .GRTeamLogoBox {
    width: 50px;
    height: 50px;
  }

  .GRTeamLogo {
    max-width: 50px;
    max-height: 50px;
  }
  .APSkatersWrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 280px;
  }
  .GRStatsColumn {
    width: 188px;
  }

  .GRStatsColumnGoaltenders {
    width: 188px;
    min-height: 23px;
  }

  .GRStatsColumnDefensemen {
    width: 188px;
    height: 142px;
  }

  .GRStatsColumnForwards {
    width: 188px;
    height: 288px;
  }

  .GRRowSB {
    width: 90%;
  }
  .GRLineTop {
    margin: 4px 0px 0px 0px;
  }
  .GRLine {
    height: 1px;
    width: 85%;
    margin: 4px 0px 2px 0px;
  }
  .GRCategory {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 13px;
    margin: 8px 0px 9px 0px;
  }

  .GRName {
    margin: 3px 0px;
    font-size: 15px;
  }

  .netLogo {
    width: 18px;
    margin: 0px 0px 0px 6px;
  }

  .skaterOnIceStick {
    height: 15px;
    margin: 0px 0px 0px 3px;
  }

  .puck {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 3px 0px 0px 3px;
  }
  .APSkatersWrapper::-webkit-scrollbar {
    width: 4px;
  }
  #CSOWrapper::-webkit-scrollbar {
    width: 4px;
  }
  .GRScratchColumn {
    width: 275px;
    margin: 0px 0px 3px 0px;
  }
  .GRNameScratch {
    margin: 3px 0px;
    font-size: 12px;
    text-align: center;
  }
  .GRStatsColumnOfficials {
    padding: 0px 0px 8px 0px;
  }
}

@media (max-width: 375px), (max-height: 485px) {
  .GRRefreshButtonRow {
    margin: 87px 0px 25px 0px;
  }

  .refreshButtonGR {
    width: 55px;
    height: 55px;
    line-height: 13px;
    font-size: 8px;
    margin: 0px 20px 0px 0px;
  }

  .AAButtonGR {
    width: 55px;
    height: 55px;
    line-height: 13px;
    font-size: 8px;
    margin: 0px 0px 0px 20px;
  }
  #buttonRingGR {
    width: 51px;
    height: 51px;
  }
  #gameRostersContainer {
    min-height: 500px;
  }

  #GameRostersTitle {
    padding: 4px 14px;
    border-radius: 19px;
    font-size: 13px;
    margin: 12px 0px;
  }

  #GRBoxWrapper {
    width: 278px;
    height: 312px;
    border-radius: 15px;
  }

  #gameRosterBoxFront,
  #gameRosterBoxBack {
    width: 270px;
    height: 304px;
    border-radius: 15px;
    border: 4px solid black;
    border-radius: 15px;
  }
  #GRTeamLogoRow {
    margin: 7px 0px 8px 0px;
  }

  .GRAwayHome {
    font-size: 8px;
    margin: 0px 0px 6px 0px;
  }

  .GRTeamLogoBox {
    width: 40px;
    height: 40px;
  }

  .GRTeamLogo {
    max-width: 40px;
    max-height: 40px;
  }
  .APSkatersWrapper {
    overflow-y: auto;
    overflow-x: hidden;
    height: 225px;
  }
  .GRStatsColumn {
    width: 188px;
  }

  .GRStatsColumnGoaltenders {
    width: 188px;
    min-height: 23px;
  }

  .GRStatsColumnDefensemen {
    width: 188px;
    height: 121px;
  }

  .GRStatsColumnForwards {
    width: 188px;
    height: 242px;
  }

  .GRRowSB {
    width: 95%;
  }
  .GRLineTop {
    margin: 4px 0px 0px 0px;
  }
  .GRLine {
    height: 1px;
    width: 85%;
    margin: 4px 0px 2px 0px;
  }
  .GRCategory {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 13px;
    margin: 8px 0px 7px 0px;
  }

  .GRName {
    margin: 3px 0px;
    font-size: 12px;
  }

  .netLogo {
    width: 15px;
    margin: 0px 0px 0px 5px;
  }

  .skaterOnIceStick {
    height: 15px;
    margin: 0px 0px 0px 2px;
  }

  .puck {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 3px 0px 0px 2px;
  }
  .APSkatersWrapper::-webkit-scrollbar {
    width: 2px;
  }
  #CSOWrapper::-webkit-scrollbar {
    width: 2px;
  }
  .GRScratchColumn {
    margin: 0px 0px 2px 0px;
  }
  .GRNameScratch {
    margin: 3px 0px;
    font-size: 10px;
    text-align: center;
  }
  .GRStatsColumnOfficials {
    padding: 0px 0px 6px 0px;
  }
}
