#landingMaster {
  overflow: hidden;
  position: relative;
}

#landingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.866);
  min-height: 975px;
  overflow-y: auto;
}

#tvContainer {
  position: relative;
  width: 510px;
  height: 290px;
  margin: 250px 0px 0px 0px;
}

#tv {
  position: absolute;
  z-index: 5;
}

#gifElement {
  position: absolute;
  z-index: 3;
  transform: translate(5px, 5px);
  width: 500px;
  height: 275px;
  margin: 0px;
  padding: 0px;
}

#tvBlack {
  width: 500px;
  height: 276px;
  background-color: black;
  z-index: 1;
  transform: translate(4px, 2px);
}

#remoteContainer {
  margin: auto 80px auto 0px;
  height: 275px;
  width: 158px;
  position: relative;
  transform: rotate(-10deg);
}

@keyframes clickAction {
  0% {
    transform: rotate(-10deg) rotateX(0deg);
  }
  50% {
    transform: rotate(-10deg) rotateX(10deg);
  }
  100% {
    transform: rotate(-10deg) rotateX(0deg);
  }
}

.click {
  animation-name: clickAction;
  animation-duration: 0.2s;
}

#remote {
  height: 275px;
  width: 158px;
  z-index: 5;
  position: absolute;
}

#remoteButtonChange {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  transform: translate(64px, 135px);
  cursor: pointer;
  opacity: 0;
  z-index: 10;
}

#remoteButtonFiller {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  transform: translate(64px, 135px);
  z-index: 4;
}

.buttonUp {
  background-color: rgb(156, 228, 83);
}

.buttonDown {
  background-color: rgb(142, 210, 75);
}

#remoteButtonOff {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  transform: translate(119px, 32px);
  cursor: pointer;
  background-color: rgb(130, 11, 11);
  z-index: 10;
  padding: 0px;
}

#jack {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  transform: translate(1px, 1px);
}

@media (max-width: 1100px) {
  #landingContainer {
    min-height: 870px;
  }

  #tvContainer {
    margin: 200px 0px 0px 0px;
  }

  #jack {
    width: 243px;
  }
}

@media (max-width: 850px) {
  #landingContainer {
    min-height: 820px;
  }

  #tvContainer {
    margin: 150px 0px 0px 0px;
  }

  #jack {
    width: 220px;
  }
}

@media (max-width: 580px) {
  #landingContainer {
    min-height: 622px;
  }

  #tvContainer {
    width: 372px;
    height: 212px;
    margin: 95px 0px 0px 0px;
  }

  #tv {
    width: 372px;
    height: 212px;
  }

  #gifElement {
    transform: translate(5px, 5px);
    width: 365px;
    height: 201px;
  }

  #tvBlack {
    width: 365px;
    height: 201px;
    transform: translate(4px, 2px);
  }

  #remoteContainer {
    margin: auto 80px 50px 0px;
    height: 248px;
    width: 142px;
  }

  #remote {
    height: 248px;
    width: 142px;
  }

  #remoteButtonOff {
    width: 17px;
    height: 17px;
    transform: translate(107px, 29px);
  }

  #remoteButtonChange {
    width: 21px;
    height: 21px;
    transform: translate(57px, 122px);
  }

  #remoteButtonFiller {
    width: 21px;
    height: 21px;
    transform: translate(57px, 122px);
  }

  #jack {
    width: 180px;
  }
}

@media (max-width: 400px) {
  #landingContainer {
    min-height: 660px;
  }

  #tvContainer {
    width: 335px;
    height: 191px;
    margin: 110px 0px 0px 0px;
  }

  #tv {
    width: 335px;
    height: 191px;
  }

  #gifElement {
    transform: translate(5px, 5px);
    width: 329px;
    height: 181px;
  }

  #tvBlack {
    width: 329px;
    height: 181px;
    transform: translate(4px, 2px);
  }

  #jack {
    width: 150px;
  }
}

@media (max-width: 370px) {
  #landingContainer {
    min-height: 568px;
  }

  #tvContainer {
    width: 302px;
    height: 172px;
    margin: 75px 0px 20px 0px;
  }

  #tv {
    width: 302px;
    height: 172px;
  }

  #gifElement {
    transform: translate(5px, 5px);
    width: 296px;
    height: 163px;
  }

  #tvBlack {
    width: 296px;
    height: 163px;
    transform: translate(4px, 2px);
  }

  #remoteContainer {
    margin: auto 70px 45px 0px;
    height: 248px;
    width: 142px;
  }

  #remote {
    height: 248px;
    width: 142px;
  }

  #remoteButtonChange {
    width: 21px;
    height: 21px;
    transform: translate(57px, 123px);
  }

  #remoteButtonFiller {
    width: 21px;
    height: 21px;
    transform: translate(57px, 123px);
  }

  #remoteButtonOff {
    width: 17px;
    height: 17px;
    transform: translate(106px, 27px);
  }

  #jack {
    width: 125px;
  }
}
