#navBarWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.948);
  border-top: 1px solid #ffb81c;
  border-bottom: 1px solid #ffb81c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#navLogo {
  width: auto;
  height: 45px;
  margin: 0px 15px;
}

#navTitle {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 32px;
}

#navMiddle {
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}

#centerLogoLink {
  -webkit-tap-highlight-color: transparent;
}

#stickContainer {
  position: relative;
  width: 32px;
  height: 40px;
  margin: 0px 65px 0px 0px;
  cursor: pointer;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

#stick0 {
  position: absolute;
  height: 40px;
  width: auto;
  transition-duration: 1s;
}

#stick1 {
  position: absolute;
  height: 40px;
  width: auto;
  transition-duration: 1s;
}

.stick0Close {
  transform: translate(-6px, 1px) rotate(114deg);
}

.stick0Open {
  transform: translate(-8px, 1px) rotate(164deg);
}

.stick1Close {
  transform: translate(6px, -1px) rotate(-66deg);
}

.stick1Open {
  transform: translate(8px, 1px) rotate(-164deg) scaleX(-1);
}

@media (min-width: 450px) and (min-height: 450px) {
  #centerLogoLink:hover,
  .navLink:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 800px) {
  #navBarWrapper {
    justify-content: space-between;
  }
  .navLink {
    display: none;
  }
  #navMiddle {
    margin: 0px 0px 0px 55px;
  }
  #stickContainer {
    display: block;
  }
}

@media (max-width: 550px) {
  #navMiddle {
    margin: 0px 0px 0px 41px;
  }

  #navTitle {
    font-size: 24px;
  }

  #navLogo {
    height: 34px;
    margin: 0px 11px;
  }

  #stickContainer {
    margin: 0px 49px 0px 0px;
  }
}

@media (max-width: 421px) {
  #navMiddle {
    margin: 0px 0px 0px 31px;
  }

  #stickContainer {
    margin: 0px 37px 0px 0px;
  }
}

@media (max-width: 390px) {
  #navMiddle {
    margin: 0px 0px 0px 31px;
  }

  #navTitle {
    font-size: 21px;
  }

  #navLogo {
    height: 30px;
    margin: 0px 10px;
  }

  #stickContainer {
    width: 30px;
    height: 38px;
    margin: 0px 37px 0px 0px;
  }

  #stick0 {
    height: 38px;
  }

  #stick1 {
    height: 38px;
  }
}

@media (max-width: 340px) {
  #navMiddle {
    margin: 0px 0px 0px 31px;
  }

  #navTitle {
    font-size: 17px;
  }

  #navLogo {
    height: 24px;
    margin: 0px 8px;
  }

  #stickContainer {
    width: 24px;
    height: 30px;
    margin: 0px 38px 0px 0px;
  }

  #stick0 {
    height: 30px;
  }

  #stick1 {
    height: 30px;
  }
}
