#navBarWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.948);
  border-top: 1px solid #ffb81c;
  border-bottom: 1px solid #ffb81c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#navLogo {
  width: auto;
  height: 45px;
  margin: 0px 15px;
}

#navTitle {
  margin: 0px;
  font-family: 'Bree Serif', serif;
  color: white;
}

#navMiddle {
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 14px;
  margin: 0px;
}

.navLink:hover {
  transform: scale(1.05);
}

#stickContainer {
  position: relative;
  width: 32px;
  height: 40px;
  margin: 0px 65px 0px 0px;
  cursor: pointer;
  display: none;
}

#stick0 {
  position: absolute;
  height: 40px;
  width: auto;
  transition-duration: 1s;
}

#stick1 {
  position: absolute;
  height: 40px;
  width: auto;
  transition-duration: 1s;
}

.stick0Close {
  transform: translate(-6px, 1px) rotate(114deg);
}

.stick0Open {
  transform: translate(-8px, 1px) rotate(164deg);
}

.stick1Close {
  transform: translate(6px, -1px) rotate(-66deg);
}

.stick1Open {
  transform: translate(8px, 1px) rotate(-164deg) scaleX(-1);
}

@media (max-width: 715px) {
  #navBarWrapper {
    justify-content: space-between;
  }
  .navLink {
    display: none;
  }
  #navMiddle {
    margin: 0px 0px 0px 65px;
  }
  #stickContainer {
    display: block;
  }
}
