/* #FFB81C */

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px 0px 25px 0px;
}

#PSSeason {
  margin: 115px 0px 0px 0px;
  color: white;
  font-size: 18px;
}

#PSTitle {
  color: white;
}

.cardContainer {
  position: relative;
  width: 504px;
  height: 304px;
  margin: 20px 36px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@keyframes spin1 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(270deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.spin1 {
  animation-name: spin1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.spin2 {
  animation-name: spin2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.spin3 {
  animation-name: spin3;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.spin4 {
  animation-name: spin4;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.playerBoxStats,
.playerBoxPerson {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffb81c;
  width: 500px;
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.playerBoxPerson {
  transform: scaleX(-1);
}

.over {
  z-index: 2;
}

.under {
  z-index: 1;
}

.wrapContainer {
  width: 100%;
}

.columnWrap {
  align-self: flex-start;
  margin: 0px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  gap: 0px 50px;
}

#noData {
  margin: 65px 0px 0px 113px;
}

.playerNumber {
  margin: 20px 0px 15px 0px;
}

.playerName {
  margin: 0px 0px 15px 0px;
  font-size: 18px;
}

.flag {
  position: absolute;
  width: 36px;
  height: auto;
  transform: translate(220px, 10px);
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.badge {
  position: absolute;
  width: auto;
  height: 36px;
  transform: translate(120px, 10px);
}

.position {
  position: absolute;
  font-size: 18px;
  transform: translate(-225px, -2px);
}

.bold {
  font-weight: bold;
}
