/* #FFB81C */

#PSMaster {
  max-height: 100vh;
  overflow-y: auto;
}

.playerStatsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px 0px 25px 0px;
}

#PSSeason {
  margin: 115px 0px 0px 0px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#PSTitle {
  color: white;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.cardContainer {
  position: relative;
  width: 512px;
  height: 327px;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-tap-highlight-color: transparent;
}

.playerNumber {
  font-weight: 300;
}

.playerBoxStats,
.playerBoxPerson {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 315px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.playerBoxStats {
  background-color: #ffb81c;
  border: 6px solid black;
}

.playerBoxPerson {
  background-color: rgb(0, 0, 0);
  border: 6px solid #ffb81c;
  transform: scaleX(-1);
}

.wrapContainer {
  width: 100%;
}

.columnWrap {
  align-self: flex-start;
  margin: 0px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 204px;
}

#noData {
  font-size: 16px;
  margin: 65px 0px 0px 113px;
}

.playerName,
.playerNameBack {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 20px;
  border-radius: 20px;
  align-self: flex-start;
  margin: 15px;
}

.playerName {
  color: #ffb81c;
  background-color: black;
}

.playerNameBack {
  color: black;
  background-color: #ffb81c;
}

.position {
  font-size: 18px;
  margin: 0px;
  font-weight: 500;
}

.playerNumber {
  font-size: 16px;
  margin: 0px;
  font-weight: 500;
}

.flag,
.flagBack {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid black;
}

.flag {
  border: 1px solid black;
}

.flagBack {
  border: 1px solid #ffb81c;
}

.badge {
  width: auto;
  height: 28px;
}

.PSRow {
  margin: 16px 0px;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.PSCircleRow {
  display: flex;
  width: 100%;
}

.PSCircle,
.PSCircleBack {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0px 0px 0px 15px;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.PSCircle {
  border: 3px solid black;
}

.PSCircleBack {
  border: 3px solid #ffb81c;
}

.PSDividingLine {
  height: 166px;
  width: 2px;
  margin: auto 25px;
  border-radius: 2px;
}

@media (max-width: 605px) {
  #PSSeason {
    margin: 100px 0px 0px 0px;
    font-size: 16px;
  }

  #PSTitle {
    letter-spacing: 1px;
    font-size: 26px;
  }

  .cardContainer {
    width: 385px;
    height: 246px;
    margin: 15px 27px;
  }

  .playerBoxStats {
    width: 375px;
    height: 236px;
    border: 5px solid black;
    border-radius: 15px;
  }

  .playerBoxPerson {
    width: 375px;
    height: 236px;
    border: 5px solid #ffb81c;
    border-radius: 15px;
  }

  .playerName,
  .playerNameBack {
    font-size: 14px;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 11px;
  }

  .PSCircle,
  .PSCircleBack {
    width: 27px;
    height: 27px;
    margin: 0px 0px 0px 11px;
  }

  .columnWrap {
    margin: 0px 0px 0px 11px;
    height: 152px;
  }

  .position {
    font-size: 14px;
  }

  .playerNumber {
    font-size: 12px;
  }

  .flag,
  .flagBack {
    width: 27px;
    height: 27px;
  }

  .badge {
    width: auto;
    height: 21px;
  }

  .PSRow {
    margin: 12px 0px;
    font-size: 12px;
  }

  .PSDividingLine {
    height: 124px;
    width: 2px;
    margin: auto 19px;
    border-radius: 2px;
  }

  #noData {
    font-size: 12px;
    margin: 50px 0px 0px 85px;
  }
}

@media (max-width: 500px) {
  #PSSeason {
    margin: 85px 0px 0px 0px;
    font-size: 14px;
  }

  #PSTitle {
    letter-spacing: 1px;
    font-size: 22px;
  }

  .cardContainer {
    width: 329px;
    height: 211px;
    margin: 13px 23px;
  }

  .playerBoxStats,
  .playerBoxPerson {
    width: 319px;
    height: 201px;
    border-radius: 15px;
  }

  .playerName,
  .playerNameBack {
    font-size: 12px;
    padding: 5px 13px;
    border-radius: 20px;
    margin: 9px;
  }

  .PSCircle,
  .PSCircleBack {
    width: 23px;
    height: 23px;
    margin: 0px 0px 0px 9px;
  }

  .columnWrap {
    margin: 0px 0px 0px 9px;
    height: 127px;
  }

  .position {
    font-size: 12px;
  }

  .playerNumber {
    font-size: 10px;
  }

  .flag,
  .flagBack {
    width: 23px;
    height: 23px;
  }

  .badge {
    width: auto;
    height: 18px;
  }

  .PSRow {
    margin: 8px 0px;
    font-size: 10px;
  }

  .PSDividingLine {
    height: 105px;
    width: 2px;
    margin: auto 16px;
    border-radius: 2px;
  }

  #noData {
    font-size: 10px;
    margin: 43px 0px 0px 72px;
  }
}

@media (max-width: 450px) {
  #PSSeason {
    margin: 100px 0px 0px 0px;
    font-size: 11px;
  }

  #PSTitle {
    letter-spacing: 1px;
    font-size: 17px;
  }

  .PSCircleRow {
    margin: 0px 0px 8px 0px;
  }

  .PSDividingLine {
    height: 105px;
    width: 2px;
    margin: 5px 16px 0px 16px;
    border-radius: 2px;
  }
}

@media (max-width: 385px) {
  .playerStatsContainer {
    padding: 10px 0px;
  }

  #PSSeason {
    margin: 90px 0px 0px 0px;
    font-size: 11px;
  }

  #PSTitle {
    letter-spacing: 1px;
    font-size: 16px;
  }

  .cardContainer {
    width: 297px;
    height: 191px;
    margin: 12px 0px;
  }

  .playerBoxStats,
  .playerBoxPerson {
    width: 287px;
    height: 181px;
    border-radius: 15px;
  }

  .playerName,
  .playerNameBack {
    font-size: 11px;
    padding: 5px 12px;
    border-radius: 20px;
    margin: 8px;
  }

  .PSCircle,
  .PSCircleBack {
    width: 21px;
    height: 21px;
    margin: 0px 0px 0px 8px;
  }

  .columnWrap {
    margin: 0px 0px 0px 8px;
    height: 112px;
  }

  .position {
    font-size: 11px;
  }

  .playerNumber {
    font-size: 9px;
  }

  .flag,
  .flagBack {
    width: 21px;
    height: 21px;
  }

  .badge {
    width: auto;
    height: 16px;
  }

  .PSRow {
    margin: 7px 0px;
    font-size: 9px;
  }

  .PSCircleRow {
    margin: 0px 0px 9px 0px;
  }

  .PSDividingLine {
    height: 90px;
    width: 2px;
    margin: 6px 14px 0px 14px;
    border-radius: 2px;
  }

  #noData {
    font-size: 9px;
    margin: 39px 0px 0px 65px;
  }
}
