html,
body {
  width: 100%;
  margin: 0;
}

#root {
  width: 100%;
}

.FCAIC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgroundPhoto {
  background: url('/bruinsbackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

.opacityHide {
  opacity: 0;
}

.opacityShow {
  opacity: 1;
}

.displayNone {
  display: none;
}
