/* font-family: 'Bree Serif', serif;
font-family: 'Roboto', sans-serif; */

html,
body {
  width: 100%;
  margin: 0;
}

#root {
  width: 100%;
}

.FCAIC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgroundPhoto {
  background: url('/bruinsbackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

.opacityHide {
  opacity: 0;
}

.opacityShow {
  opacity: 1;
}

.displayNone {
  display: none;
}

@keyframes spin1 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(270deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.spin1 {
  animation-name: spin1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.spin2 {
  animation-name: spin2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.spin3 {
  animation-name: spin3;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.spin4 {
  animation-name: spin4;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.over {
  z-index: 2;
}

.under {
  z-index: 1;
}

.NoGameWrapper {
  background-color: #ffb71c;
  padding: 15px 36px;
  border-radius: 10px;
  border: 2px solid black;
}

.NoGame {
  margin: 0px;
}

.NotYet {
  font-style: italic;
  font-size: 14px;
}

.refreshButton {
  outline: none;
  z-index: 4;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #ffb71c;
  cursor: pointer;
  transition-duration: 0.5s;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.refreshButton:hover {
  background-color: #ffb71c6d;
  border: 2px solid rgba(0, 0, 0, 0.9);
}

@keyframes refreshButton {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(-30deg) scale(0.95);
  }
  70% {
    transform: rotate(400deg) scale(1.01);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.refreshButtonSpin {
  animation-name: refreshButton;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
